nav {
  background-color: #ff7700;
  margin-bottom: 2rem;
  transition: background-color 1s;
}

nav.break-vibe {
  background-color: #b12c0b;
  margin-bottom: 2rem;
}

nav.animate {
  animation: colorize 10s ease-in-out 1s infinite;
  -webkit-animation: colorize 10s ease-in-out 1s infinite;
}

section {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.task-name {
  color: #4e1a00;
  overflow: auto;
  font-size: 1.1rem;
}

.session-buttons {
  text-align: center;
}

.session-buttons button {
  color: #EFF5DC !important;
  width: 70px;
  height: 70px;
  margin: 3px;
}
.session-buttons button.pomodoro-button {
  background-color: #a94f00 !important;
  border-color: #a94f00 !important;
}
.session-buttons button.break-button {
  background-color: #b12c0b !important;
  border-color: #b12c0b !important;
}

.session-buttons button.working {
  background-color: #ff7700 !important;
  border-color: #ff7700 !important;
}
.session-buttons button.break {
  background-color: #f3380a !important;
  border-color: #f3380a !important;
}

.session-buttons button.pomodoro-button:hover {
  background-color: #ff7700 !important;
  border-color: #ff7700 !important;
}
.session-buttons button.break-button:hover {
  background-color: #f3380a !important;
  border-color: #f3380a !important;
}

.session-buttons button img {
  width: 30px;
  max-height: 35px;
}

.action-button img {
  max-width: 20px;
}

.time {
  margin: 1rem 1rem 2rem 1rem;
  text-align: center;
  font-size: 3rem;
  transition: color 1s;
}
.time.working {
  color: #ff7700;
}
.time.break {
  color: #b12c0b;
}

.summary {
  border-top: 1px solid #ff7700;
  border-bottom: 1px solid #ff7700;
  padding: 0.6rem;
  margin: 1rem 0 !important;
}

@keyframes colorize {
  0% { background-color: #ff7700; }
  20% { background-color: #ff5e00; }
  60% { background-color: #ff9900; }
  100% { background-color: #ff7700; }
}
@-webkit-keyframes colorize {
  0% { background-color: #ff7700; }
  20% { background-color: #ff5e00; }
  60% { background-color: #ff9900; }
  100% { background-color: #ff7700; }
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 2s ease-in-out 0s infinite;
  -webkit-animation: blink 2s ease-in-out 0s infinite;
}


@media(max-width: 575.98px) {
  .time {
    font-size: 3rem !important;
  }
}

@media(max-width: 991.98px) {
  .time {
    font-size: 4rem;
  }

  .right-section, .left-section {
    margin: 1rem auto;
  }
}

@media(min-width: 992px) {
  .tasks-column {
    max-height: 75vh !important;
    overflow: auto;
  }
}
