.navbar-bg {
  background-color: #ff7700;
}

.left-section, .right-section {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.session-button {
  width: 70px;
  height: 70px;
  margin: 3px;
}

.session-button-img {
  width: 30px;
  max-height: 35px;
}

.action-button {
  max-width: 20px;
}

.time {
  margin: 1rem 1rem 2rem 1rem;
  text-align: center;
  font-size: 4rem;
  color: #4e1a00;
}

.summary {
  border-top: 1px solid #ff7700;
  border-bottom: 1px solid #ff7700;
  padding: 0.6rem;
}

.task-name {
  color: #4e1a00;
}

.list-group-item.col, .list-group-item.action-buttons {
  opacity: 0.7 !important;
}

.list-group-item:hover {
  background-color: #ffecce !important;
}

.list-group-item.active {
  opacity: 1 !important;
}

@keyframes blink {
  50% {
      opacity: 0.0;
  }
  }
  @-webkit-keyframes blink {
  50% {
      opacity: 0.0;
  }
}
.blink {
  animation: blink 2s ease-in-out 0s infinite;
  -webkit-animation: blink 2s ease-in-out 0s infinite;
}

@media(max-width: 767.98px) {
  .time {
    font-size: 5rem;
  }
}

@media(max-width: 991.98px) {
  .time {
    font-size: 3rem;
  }

  .right-section, .left-section {
    margin: 1rem auto;
  }
}
