body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fffaf0 !important;
  color: #4e1a00;
}

.w-100 {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-light {
  color: #EFF5DC;
}

.btn {
  box-shadow: none !important;
}

.btn-primary {
  color: #EFF5DC !important;
  background-color: #ff7700 !important;
  border-color: #ff7700 !important;
}

.btn-outline-primary {
  color: #EFF5DC !important;
  border-color: #4e1a00 !important;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: #ffbe59 !important;
}

.list-group-item {
  background-color: #fffaf0 !important;
  border-color: #ffdaa0 !important;
}

.list-group-item.active {
  border: 1px solid #ffa3155e !important;
}

.list-group-item.active {
  color: #EFF5DC !important;
  background-color: #ffa3155e !important;
  border-color: #ffa3155e !important;
}

.badge-primary {
  color: #EFF5DC !important;
  background-color: #4e1a00 !important;
}

.badge-secondary {
  background-color: rgba(30, 30, 30, 0.5) !important;
  color: rgba(239, 245, 220, 0.8) !important;
}

.form-control {
  color: #4e1a00 !important;
  background-color: #fff6ee !important;
  border: 1px solid #ffdda9 !important;
}

.form-control:focus {
  color: #4e1a00 !important;
  background-color: #fff6ee !important;
  border-color: #4e1a00 !important;
  box-shadow: none !important;
}
